
/* body */
body {
    font-family: "Press Start 2P", system-ui;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
}

/* main-screen */
#main-screen {
    background-color: #ECCAE7;
    text-align: center;
    padding: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #934488;
    font-size: 24px;
}

p {
    width: 50%;
}

/* navigation bar */
nav {
    background-color: #331212;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    height: 80px;
    top: 0;
    right: 0;
    left: 0; 
    z-index:1000;

}

.logo img {
    height: 50px;
    max-height: 80px;
    width: auto;
    padding: 0px;
    z-index: 1001;

}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;

}

nav li {

    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #CE64C0;
    border-radius: 30px;
    border: 3px solid #fff;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;

}

nav ul li a:hover {
    background-color:#934488;
    border-radius: 30px;
    border: 3px solid #fff;
}

/* start button */
.start {
    background-color: #ffffff;
    color:#934488; 
    text-align: center;
    font-family: "Press Start 2P", sans-serif; /* Matching font */
    font-size: 14px;
    border: none;
    padding: 20px 24px;
    border-radius: 15px; 
    cursor: pointer; 
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: #934488 solid 4px;
}

.start:hover {
    transform: scale(1.05); 
}

.start:active {
    transform: scale(0.95);
}



/* loading screen styling */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* loading image */
.loading-image {
    width: 191px;
    height: 162px; 

}

/* loading bar container */
.loading-bar-cont {
    width: 50%;
    max-width: 348px;
    height: 36px;
    background: #fff;
    border-radius: 45px;
    border: #934488 solid 5px;
    margin-top: 20px;
    overflow: hidden;
}

/* animated loading bar */
.loading-bar {
    width: 0%;
    height: 100%;
    background-color: #934488;
    animation: loading-animation 2s linear forwards;
}

/* animation keyframes */
@keyframes loading-animation {
    0% { width: 0%; }
    100% { width: 100%; }
}

