/* body */
body{
    font-family: "Press Start 2P", system-ui;
    min-height: 100vh; 
    display: block; 
    margin: 0; 
    padding-top: 80px;
    background-color: #1B0A0A;
    border-bottom: #882d7c 10px solid;

}

/* product screen */
.product-screen {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin: 3%;
    gap: 10%;
}

/* smaller screens */
@media (max-width: 1300px) {

    body{
        font-family: "Press Start 2P", system-ui;
        min-height: 100vh; 
        display: block; 
        margin: 0;
        padding-top: 100px; 
        background-color: #1B0A0A;
    }


    .product-screen{
        flex-direction: column;
    }

    .picture {
        padding-bottom: 4%;
        margin-top: 50px !important;
    }

}

/* picture screen */
.picture {
    text-align: center;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: -80px;
    gap: 8px;

}

h1 {
    color: #fff;
    font-size: clamp(14px, 10vw, 20px);
    text-align: center;

}

h2 {
    color: #fff;
    font-size: clamp(8px, 10vw, 16px) ;
}

/* prev and next buttons */
.next:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.prev:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* github button */
.picture button {
    background-color: #ffffff;
    color:#934488; 
    text-align: center;
    font-family: "Press Start 2P", sans-serif; 
    font-size: clamp(12px, 2vw, 14px);
    border: none;
    padding: 1vh;
    width: 20vw;
    border-radius: 15px; 
    cursor: pointer; 
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: #934488 solid 4px;
    margin-bottom: 20px;
}

.picture button:hover {
    transform: scale(1.05); 
}

.picture button:active {
    transform: scale(0.95);
}

/* slides */
.slide img {
    width: clamp(240px, 50vw, 500px); 
    height: clamp(200px, 30vw, 375px);
    object-fit: cover;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out; 
    margin: auto;
    background-color: #fff;
    border: #F086E2 10px solid;
}

.slideshow-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    width: fit-content;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
}

/* information screen */
.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    margin-top: -14px;

}

/* text box */
.text-container{
    color: #934488;
    background: #F9C1F1;
    border: #934488 7px solid;
    border-radius: 25px;
    margin-bottom: 2%;
}

.text-container p{
    padding: 30px;
    font-size: clamp(7px, 10vh, 14px);
}

/* checkout container */
.checkout-container {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.checkout-container img {
    transform: scale(0.7);
    width: clamp(60px, 10vw, 85px);
    margin-top: -10px;

}

.checkout-container button {
    background-color: #ffffff;
    color:#934488; 
    text-align: center;
    font-family: "Press Start 2P", sans-serif; 
    font-size: clamp(12px, 2vw, 14px);
    border: none;
    padding: 2vh;
    font-weight: bold;
    width: 20vw;
    min-width: 150px;
    border-radius: 15px; 
    cursor: pointer; 
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: #934488 solid 4px;
}

.checkout-container button:hover {
    transform: scale(1.2); 
}

.checkout-container button:active {
    transform: scale(0.95);
}

/* back-to-shop button */
.information #back-to-shop {
    color: #CE64C0;
    font-weight: bold;
    font-family: "Press Start 2P", sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    margin-bottom: 3%;
    margin-top: 5%;
}

.information #back-to-shop:hover {
    color: #e7b4e1;
    font-size: 14px;

}

/* navigation bar */
.not-off-screen-menu {
    background-color: #331212;
    border-bottom: #796161 4px dashed;
    padding: 0px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    height: 80px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

}

.not-off-screen-menu .desktop-nav {
    list-style: none;
    display: flex;
    gap: 2vw;
    margin: 20px 0;
}

.not-off-screen-menu .desktop-nav li {
    margin-left: 1vw;
}

.not-off-screen-menu .desktop-nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #7e2f73;
    border-radius: 30px;
    border: 3px solid #b48e8e;
    font-weight: bold;
    font-size: clamp(12px, 2vw, 14px);
    padding: 1vw 1.5vw;
    transition: 0.3s;
}

.not-off-screen-menu .desktop-nav li a:hover {
    background-color: #934488;
}

/* mobile menu */
.off-screen-menu {
    background-color: #331212;
    border-left: #753d6e solid 5px;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 1020;
}

.off-screen-menu ul {
    list-style-type: none;
    gap: 20px;
    margin: 0
}

.off-screen-menu ul li a {
    text-decoration: none;
    color: white;
    background-color: #CE64C0;
    border-radius: 30px;
    border: 3px solid #fff;
    font-weight: bold;
    font-style: normal;
    font-size: clamp(10px, 1.5vw, 14px);
    padding: 1vw 1.5vw;
    transition: 0.3s;
}

.off-screen-menu ul li a:hover {
    background-color:#934488;
    border-radius: 30px;
    border: 3px solid #fff;
}

.off-screen-menu.active {
    right: 0;
}

.logo img{

    width: clamp(20px, 10vh, 80px);
    height: 100%;
    margin: 0 auto;
}

.hamburger {
    height: 100%;
    width: clamp(10px, 10vh, 50px);
    position: relative;
    cursor: pointer;
    display: none; 
    z-index: 1030;
}

.hamburger span {
    height: 1.5vh;
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}


.hamburger span:nth-child(1){
    top: 25%;
}

.hamburger span:nth-child(3){
    top: 75%;
}

.hamburger.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.active span:nth-child(2){
    opacity: 0;
}

.hamburger.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 768px) {
    .not-off-screen-menu .desktop-nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

@media (min-width: 769px) {
    .off-screen-menu {
        display: none;
    }
}


/* loading screen styling */
#loading-screen {
    position: fixed;
    inset: 0;
    width: 100vw; 
    height: 100%; 
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999; 
}

/* loading image */
.loading-image {
    width: 191px;
    height: 162px; 

}

/* loading bar container */
.loading-bar-cont {
    width: 50%;
    max-width: 348px;
    height: 36px;
    background: #fff;
    border-radius: 45px;
    border: #934488 solid 5px;
    margin-top: 20px;
    overflow: hidden;
}

/* animated loading bar */
.loading-bar {
    width: 0%;
    height: 100%;
    background-color: #934488;
    animation: loading-animation 2s linear forwards;
}

/* animation keyframes */
@keyframes loading-animation {
    0% { width: 0%; }
    100% { width: 100%; }
}