
body {
    font-family: "Press Start 2P", system-ui;
}

/* slides for images */
.slideshow-container {
    position: relative;
    max-width: 600px;
    margin: 50px auto;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

  /* arrows */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transform: translateY(-50%);
    user-select: none;
}

.prev { 
    left: 10px; 
}

.next { 
    right: 10px; 
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* navigation bar */
.not-off-screen-menu {
    background-color: #331212;
    padding: 0px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    height: 12.5vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    border-bottom: #753d6e solid 5px;
}

.not-off-screen-menu .desktop-nav {
    list-style: none;
    display: flex;
    gap: 2vw;
    margin: 20px 0;
}

.not-off-screen-menu .desktop-nav li {
    margin-left: 1vw;
}

.not-off-screen-menu .desktop-nav li a {
    text-decoration: none;
    color: white;
    background-color: #CE64C0;
    border-radius: 30px;
    border: 3px solid #fff;
    font-weight: bold;
    font-size: clamp(12px, 2vw, 14px);
    padding: 1vw 1.5vw;
    transition: 0.3s;
}

.not-off-screen-menu .desktop-nav li a:hover {
    background-color: #934488;
}

/* mobile menu */
.off-screen-menu {
    background-color: #331212;
    border-left: #753d6e solid 5px;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 1020;
}

.off-screen-menu ul {
    list-style-type: none;
    gap: 20px;
    margin: 0
}

.off-screen-menu ul li a {
    text-decoration: none;
    color: white;
    background-color: #CE64C0;
    border-radius: 30px;
    border: 3px solid #fff;
    font-weight: bold;
    font-style: normal;
    font-size: clamp(10px, 1.5vw, 14px);
    padding: 1vw 1.5vw;
    transition: 0.3s;
}

.off-screen-menu ul li a:hover {
    background-color:#934488;
    border-radius: 30px;
    border: 3px solid #fff;
}

.off-screen-menu.active {
    right: 0;
}


.hamburger {
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    display: none; 
    z-index: 1030;
}

.hamburger span {
    height: 1.5vh;
    width: 100%;
    background-color: #934488;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.hamburger span:nth-child(1){
    top: 25%;
}

.hamburger span:nth-child(3){
    top: 75%;
}

.hamburger.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.active span:nth-child(2){
    opacity: 0;
}

.hamburger.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 768px) {
    .not-off-screen-menu .desktop-nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

@media (min-width: 769px) {
    .off-screen-menu {
        display: none;
    }
}


/* loading screen styling */
#loading-screen {
    position: fixed;
    inset: 0;
    width: 100vw; 
    height: 100%; 
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999; 
}

/* loading image */
.loading-image {
    width: 191px;
    height: 162px; 

}

/* loading bar container */
.loading-bar-cont {
    width: 50%;
    max-width: 348px;
    height: 36px;
    background: #fff;
    border-radius: 45px;
    border: #934488 solid 5px;
    margin-top: 20px;
    overflow: hidden;
}

/* animated loading bar */
.loading-bar {
    width: 0%;
    height: 100%;
    background-color: #934488;
    animation: loading-animation 2s linear forwards;
}

/* animation keyframes */
@keyframes loading-animation {
    0% { width: 0%; }
    100% { width: 100%; }
}